<%- include('../partials/header')%>

<form action="/skill" method="POST">
    <input type="text" name="skills">
    <button type="submit">Save new skill</button>
</form>

<%- include('../partials/footer')%>